@page "/about"
<div id="mainContent">
    <h3 style="font-weight:bolder; padding-top:2rem; padding-left:5rem; color:azure;">About Me</h3>
    <div id="subWindow">
        <div style="overflow:auto">
            <TechnicalToolboxComponent />
        </div>
    </div>
</div>
@code {

}
