@page "/contact"
<div id="mainContent">
    <div style="height:3rem;"></div>
    <div>
        <aside>
            <NinjaComponent />
        </aside>
        <aside>
            <GitHubComponent />
        </aside>
        <aside>
            <LinkedInComponent />
        </aside>
    </div>

    <div id="subWindow">
        <ContactFormComponent />
    </div>
    <div style="height:3rem;"></div>
</div>

@code {

}
