@inherits LayoutComponentBase
<h3>Hello From the top of the custom layout</h3>
<NavLink class="nav-link" href="" Match="NavLinkMatch.All">
    <span class="oi oi-home" aria-hidden="true"></span> Home
</NavLink>
<div class="page">

    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
And here's the end of the custom layout!
