@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>
    <main>
        <header class="font-effect-fire">AnthonyTheBoss.Ninja</header>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
<footer>&copy;<a href="https://www.anthonytheboss.ninja">Anthony Franklin</a></footer>