<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Reggae+One&effect=fire|emboss|neon|outline|shadow-multiple">
<a href="https://www.anthonytheboss.ninja" title="AnthonyTheBoss.ninja" alt="hyperlink to my personal site" class="ninja">
            <h1 class="font-effect-fire">
                AnthonyTheBoss.Ninja
            </h1>
        </a>
@code {

}
