<style>
    table{
        border:2px solid slategrey;
        box-shadow: -6px 5px 8px black;
    }
    td {
        border: 1px solid teal;
    }

    thead {
        background-color: slateblue;
        color: #fff;
    }

    tfoot {
        background-color: slategray;
        color: #fff;
        text-align:center;
    }
</style>
<section style="text-align:center; font-weight:bolder; color:teal;">Technical Toolbox:</section>
<table cellpadding="10" align="center">
    <tr style="background-color: slategray; color: whitesmoke">
        <th><u>Languages</u></th>
        <th><u>Operating Systems</u></th>
        <th><u>Software</u></th>
        <th><u>Troubleshooting</u></th>
        <th><u>Other Skills</u></th>
    </tr>
    <tr>
        <td>C++</td>
        <td>Windows 7/10/11</td>
        <td>Microsoft Visual Studio</td>
        <td>Windows and Linux Administration</td>
        <td>SciKit Learn</td>
    </tr>
    <tr>
        <td>C#</td>
        <td>Arch/Ubuntu Linux</td>
        <td>IntelliJ</td>
        <th><u>APPLICATION:</u></th>
        <td>Pandas</td>
    </tr>
    <tr>
        <td>Java</td>
        <td>iOS</td>
        <td>Django</td>
        <td><span>&#8226;</span>Installation</td>
        <td>Supervised Machine Learning</td>
    </tr>
    <tr>
        <td>Python</td>
        <td>Android</td>
        <td>Heroku</td>
        <td><span>&#8226;</span>Administration</td>
        <td>Unsupervised Machine Learning</td>
    </tr>
    <tr>
        <td>SQL</td>
        <td>macOS</td>
        <td>Anaconda</td>
        <td><span>&#8226;</span>Maintenance</td>
        <td>Semi-supervised Machine Learning</td>
    </tr>
    <tr>
        <td>Kotlin</td>
        <td></td>
        <td>Github</td>
        <td><span>&#8226;</span>Backup</td>
        <td></td>
    </tr>
    <tr>
        <td>XML</td>
        <td></td>
        <td>O365</td>
        <td><span>&#8226;</span>Support</td>
        <td></td>
    </tr>
    <tr>
        <td>XAML</td>
        <td></td>
        <td>Salesforce</td>
        <td><span>&#8226;</span>Recovery</td>
        <td></td>
    </tr>
    <tr>
        <td>FXML</td>
        <td></td>
        <td>SAS</td>
        <td><span>&#8226;</span>Quality Assurance</td>
        <td></td>
    </tr>
    <tfoot>
        <tr>
            <td colspan="5">This is the footer.</td>
        </tr>
    </tfoot>
</table>

@code {

}
